{
	"ldap" : {
		"port" : 1389,
		"dn"   : "dc=example,dc=org"
	},

	"backend" : {
		"host"  : "localhost",
		"user"  : "root",
		"pwd"   : "",
		"db"    : "ldap",
		"table" : "users"
	},

	"attributes" : {
		"dn"            : "id",
		"displayname"   : "(first_name || ' ' || last_name)",
		"givenname"     : "first_name",
		"sn"            : "last_name",
		"cn"            : "(first_name || ' ' || last_name)",
		"mail"          : "email",
		"rfc822mailbox" : "email"
	}
}